Django==4.1.4
Keras==2.11.0
numpy~=1.24.0
olefile==0.46
pytz==2022.7
requests==2.28.1
scipy~=1.9.3
six==1.16.0
Theano==1.0.5
whitenoise==6.2.0
opencv-python~=4.6.0.66
tensorflow~=2.11.0
scikit-image~=0.19.3
imageio~=2.23.0
Pillow~=9.3.0