{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Digit recognition</title>
</head>
<body class="background">
    <div class="wrapper_page">
          {% block content %}
          {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        {% block load_js %}
        {% endblock %}
    </script>
</body>
</html>
